.header {
    position: sticky;
    top: 0;
    display: flex;
    background-color: rgb(37, 37, 37);
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 100;
}

.header__left {
    display: flex;
}

.header__left > img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}

.header__search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #3f3f3f;
}

.header__search > input {
    outline: none;
    border: none;
    background: none;
    color: white;
}

.header__right {
    display: flex;
}